{{> navbar user }}

<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="jumbotron text-center lost-title">
                <h4 class="display-6">Lost Pets</h4>
            </div>
        </div>
    </div>
    {{#if posts}}
    {{#each posts}}
    <div class="row">
        <div class="col">
            <div class="card mb-3 mx-auto" style="width:25rem;">
                <h3 class="card-header bg-danger text-white text-center">{{title}} {{'Pet.petType'}}</h3>
                <img style="width: 100%; display: block;" src={{'Pet.picture'}}>
                <div class="card-body">
                    <div class="card-header text-center bg-primary text-white">
                        <h6><b>Name:</b> {{'Pet.name'}}</h6>
                    </div>
                    <p class="card-text">
                    <h6 class="text-center">Message/Pet Description:</h6>
                    {{'Pet.description'}}
                    </p>
                   <button type="button" class="btn btn-primary viewPet" data-id='{{this.id}}' id="viewLostPet">View Pet</button>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    {{else}}
        <div class="row">
        <div class="col-md">
            <h6 class="text-center">- No Lost Posts -</h6>
        </div>
    </div>
    {{/if}}
</div>

<script>
$(document).ready(function () { 
    $(document).on("click", "#viewLostPet", function() {
        var id = $(this).data("id");
        window.location.replace("/view/pet/" + id);
    });
});
</script>