{{> navbar user }}

<div class="row">
    <div class="col-md">
        <div class="card mb-3 mx-auto pet-card" style="max-width:30rem;">
            <h3 class="card-header bg-primary text-white text-center">{{dbModel.title}}</h3>
            <img style="width: 100%; display: block;" src={{petModel.picture}}>
            <div class="card-body">
                <div class="card-header text-center bg-primary text-white">
                    {{#if petModel.name}}
                    <h6><b>Name:</b> {{petModel.name}}</h6>
                    {{else}}
                    <h6>{{petModel.petType}}</h6>
                    {{/if}}
                </div>
                <div class='card-body'>
                    <ul class="list-group list-group-flush">
                        {{#if petModel.age}}
                        <li class="list-group-item"><b>Age:</b> {{petModel.age}}</li>
                        {{/if}}
                        {{#if petModel.microchip}}
                        <li class="list-group-item"><i class="fa fa-check"></i> Has Microchip</li>
                        {{/if}}
                        {{#if petModel.reward}}
                        <li class="list-group-item"><i class="fa fa-check"></i> There is a reward</li>
                        {{/if}}
                        {{#with petModel}}
                        {{#if name}}
                        <li class="list-group-item"><b>Last Seen Location:</b> {{'Location.name'}}</li>
                        {{else}}
                        <li class="list-group-item"><b>Found Location:</b> {{'Location.name'}}</li>
                        {{/if}}
                        {{/with}}
                    </ul>
                    <p class="card-text">
                    <h6 class="text-center"><b>Message/Pet Description:</b></h6>
                    <p class="text-center">{{petModel.description}}</p>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md user-contact-info">
                <div class="card border-success mb-3 mx-auto" style="max-width:25rem;">
                    {{#if petModel.name}}
                    <div class="card-header text-center"><h6>Contact Owner</h6></div>
                    {{else}}
                    <div class="card-header text-center"><h6>Contact Finder</h6></div>
                    {{/if}}
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            {{#with dbModel}}
                            <li class="list-group-item"><i class="fa fa-user"></i><b> Name:</b> {{'User.firstName'}} {{'User.lastName'}}</li>
                            <li class="list-group-item"><i class="fa fa-envelope-o"></i><b> Email:</b> {{'User.email'}}</li>
                            <li class="list-group-item"><i class="fa fa-phone"></i><b> Phone Number:</b> {{'User.phoneNumber'}}</li>
                            {{/with}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>